<div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-icon" data-background-color="rose">
                                    <i class="material-icons">assignment</i>
                                </div>
                                <div class="card-content">
                                	<a href=""  ng-click="subjects.showEditor = false;class="btn btn-primary btn-simple pull-right" title="Go Back"> Go Back </a>
                                    <h4 class="card-title">Create Journal</h4>
                                    <form>
                                       <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Journal Name</label>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label"> Enter/Edit Journal Name here..</label>
                                                        <input type="text" class="form-control" ng-model="journals.editJourn.name">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Journal Url</label>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label"> Enter/Edit Journal Url here..</label>
                                                        <input type="url" class="form-control" ng-model="journals.editJourn.url">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                          <div class="row">
                                            <div class="col-md-6">
                                               <div class="form-group">
                                                <label>Select Subject</label>
                                                <select class="selectpicker" data-style="btn btn-primary" id="journalSubjectPicker" title="Select Subject"  >
                                               	<option ng-repeat="subject in subjects.list" ng-bind="subject.name" ng-value="subject.id" ng-selected="journals.editJourn.subject.id == subject.id"></option>
                                                <!--  <option value="111" >Clinical</option>
                                                 <option value="112">Engineering</option>
                                                 <option value="113" selected>Medical</option> -->
                                                 </select>
												</div>
                                            </div>
                                            <div class="col-md-6">
                                               <div class="form-group">
                                                    <label>Clissifications</label>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label"> Enter/Edit classifications seperated by comma..</label>
                                                        <input type="text" class="form-control" ng-model="journals.editJourn.classifications">
                                                    </div>
                                                </div>
                                             </div>
                                            
                                        </div>
                                           <button type="submit" class="btn btn-rose pull-right"  ng-click="saveJournal(journals.editJourn)">Submit</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>