<div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="card card-signup">
                            <h2 class="card-title text-center">Register</h2>
                            <div class="row">
                                <div class="col-md-5 col-md-offset-1">
                                    <div class="card-content">
                                        <div class="info info-horizontal">
                                            <div class="icon icon-rose">
                                                <i class="material-icons">assignment_ind</i>
                                            </div>
                                            <div class="description">
                                                <h4 class="info-title">Author Guidelines</h4>
                                                <p class="description">
                                                    We've created the marketing campaign of the website. It was a very interesting collaboration.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="info info-horizontal">
                                            <div class="icon icon-primary">
                                                <i class="material-icons">content_paste</i>
                                            </div>
                                            <div class="description">
                                                <h4 class="info-title">Editor Guidelines</h4>
                                                <p class="description">
                                                    We've developed the website with HTML5 and CSS3. The client has access to the code using GitHub.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="info info-horizontal">
                                            <div class="icon icon-info">
                                                <i class="material-icons">assignment_turned_in</i>
                                            </div>
                                            <div class="description">
                                                <h4 class="info-title">Reviewder Guidelines</h4>
                                                <p class="description">
                                                    There is also a Fully Customizable CMS Admin Dashboard for this product.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                  
                                    <form ng-submit="registerUser()">
                                        <div class="card-content">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">face</i>
                                                </span>
                                                <input type="text" ng-model="user.userName" class="form-control" placeholder="User Name...">
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">email</i>
                                                </span>
                                                <input type="email" ng-model="user.email" class="form-control" placeholder="Email...">
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">lock_outline</i>
                                                </span>
                                                <input type="password" ng-model="user.password" placeholder="Password..." class="form-control" />
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">lock_outline</i>
                                                </span>
                                                <input type="password" ng-model="user.confirmPassword" placeholder="Confirm Password..." class="form-control" />
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">settings_cell</i>
                                                </span>
                                                <input type="text" ng-model="user.mobileNumber" class="form-control" placeholder="Mobile Number...">
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">aspect_ratio</i>
                                                </span>
                                                <textarea class="form-control" ng-model="user.address" rows="3" placeholder="Address..."></textarea>
                                             </div>
                                             <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">settings_cell</i>
                                                </span>
                                                <input type="text" ng-model="user.country" class="form-control" placeholder="Country...">
                                            </div>
                                            <!-- If you want to add a checkbox to this form, uncomment this code -->
                                            <div class="">
                                                <label>
                                                    <input type="checkbox" ng-model="user.acceptance" name="optionsCheckboxes"> I agree to the
                                                    <a href="#something">terms and conditions</a>.
                                                </label>
                                            </div>
                                        </div>
                                        <div class="footer text-center">
                                             <button type="submit" ng-disabled="!user.acceptance" class="btn btn-primary btn-round">Get Started</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>